{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["import", "react"],
  "rules": {
    "semi": ["error", "never"],
    "import/no-unresolved": 2,
    "react/jsx-uses-react": 2
  },
  "settings": {
    "import/resolver": "webpack"
  }
}